/* -------- Configurazioni generali --------*/

header {
    background-color: rgb(0, 200, 255);
}

a:hover {
    cursor: default;
    color: blue;
}

/*-------- Configurazioni specifiche --------*/

/* Configurazione Header */
#LogoTheBooleaner {
    width: 195px;
    padding: 25px 10px;
}

/* Configurazione sezione articoli e singoli articoli */

.articles-section {
    margin: 15px 0;
}

.SingleArticle-Header p,
.SingleArticle-Header h2 {
    margin: 0px;
}