/* Configurazioni generali */

header {
    background-color: rgb(0, 200, 255);
}

p,
h2 {
    margin: 0px;
}

/* Configurazioni specifiche */

#LogoTheBooleaner {
    width: 195px;
    padding: 25px 10px;
}